@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,600,700;800;900&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}
main{
  height: 100vh;
  background-image: url("https://media.giphy.com/media/ZVMB9Egsv5fHi/source.gif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title{
  font-size: 5rem;
  font-weight: 909;
  color: #08E8A1;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phrase{
  max-width: 500px;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
  color: white;
}

.phrase:before{
  content: "''";
  position: absolute;
  z-index: -1;
  font-size: 4rem;
  top: -30px;
  left: -10px;
  color: #FAFAFA;
  text-align: center;
}

.container-phrase{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-phrase{
  background-color: white;
  border: none;
  padding: 15px 15px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 900;
}